.show-hide{
    background-color: lightblue;
}
.input-group{
    margin-left: 80px;
}
.ip-2{
    margin-top: 8px;
}
.input-group{
    justify-content: space-around;
}
.result{
    align-self: center;
}